<nav class="sidebar sidebar-offcanvas menubar-fly-in bg-white">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
          <div class="user-wrapper">
              <div class="profile-image">
                  <img src="../../../assets/images/male_avatar.png" class="img-fluid rounded-circle"
                      alt="profile image">
              </div>
              <div class="text-wrapper">
                  <p class="profile-name">SWAPAN SAHA</p>
                  <div>
                      <small class="designation">OWNER</small>                            
                  </div>
              </div>
          </div>
      </div>
  </li>
</ul>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link">
          Inventory
        </a>
      </li>
    </ul>
</nav>