@import '~@angular/material/theming';
@include mat-core();

$sbs-app-primary:mat-palette($mat-brown);
$sbs-app-accent:mat-palette($mat-blue-grey,600,500,900);
$sbs-app-theme:mat-light-theme($sbs-app-primary,$sbs-app-accent);

@include angular-material-theme($sbs-app-theme);