<div class="card p-0">
  <div class="card-body custom-card-body">
    <div class="d-flex align-items-center justify-content-between card-custom-title bg-primary">
      <div class="text-white">Add Items</div>
    </div>
    <div class="card-form-body">
      <form [formGroup]="additemForm" (ngSubmit)="addItemToList()">
        <div class="d-flex flex-row">
          <mat-form-field appearance="standard">
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="itemname">
          </mat-form-field>
        </div>
        <div class="d-flex flex-row">
          <mat-form-field appearance="standard">
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="itemsubtype">
          </mat-form-field>
        </div>
      </form>
    </div>
    
  </div>
</div>
