$min-screen-mobile-xs: 0;
$max-screen-mobile-xs: 575px;
$min-screen-tablet-sm: 576px;
$max-screen-tablet-sm: 767px;
$min-screen-tablet-md: 768px;
$max-screen-tablet-md: 991px;
$min-screen-laptop-lg: 992px;
$max-screen-laptop-lg: 1199px;
$min-screen-laptop-xl: 1200px;