.card {
  border: 0;  
  .card-body {
    padding: $card-padding-y $card-padding-x;
    + .card-body {
      padding-top: 0;
    }
  }
  .custom-card-body {
    font-family: $font-family-all;
    padding: 0.25rem 0.25rem;
    .card-custom-title {
      background: $blue-theme-gradient;
      padding: 0.75rem 0.75rem;
      min-height: 55px;
    }
    .card-form-body{
      
      padding: 0.75rem 0.75rem 0rem;
    }
  }
}
.custom-form-button-size{
  font-size: 0.75rem;
  background: black;
}

