.navbar {

  min-height: $top-navbar-height;
  .navbar-brand-wrapper-sm {
    //  color: rgb(5, 47, 95);
    @media screen and (max-width: $max-screen-tablet-sm) {
      min-width: 100%;
    }
    @media screen and (min-width: $min-screen-tablet-md) {
      min-width: 17rem;
      //min-height: 70px;
    }
    .navbar-toggler {
      padding-left: 0;
    }
  }

  // width: 100%;
  .navbar-nav {
    margin-right: auto;

    @media screen and (min-width: $min-screen-laptop-lg) {
      width: 50%;
    }

    @media screen and (min-width: $min-screen-tablet-md) and (max-width: $max-screen-tablet-md) {
      width: 40%;
    }
    @media screen and (max-width: $max-screen-tablet-sm) {
      width: 100%;
    }

    .nav-item {
      .searchbar {
        form {
          .input-group-unstyled {
            .form-control {
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px;
            }
            .input-group-addon {
              border-radius: 4px;
              border: 0px;              
              padding: 0.25rem 0.45rem;
              ////background-color: $link-color-bg-primary;
              
              a {
                ////background: $link-color-bg-primary;
                //color: $font-color-primary-plain-white;
              }
              a:hover {
                color: darken($color: white, $amount: 5);
              }
            }
            .input-group-addon:hover {
              ////background: $link-color-bg-hover;
            }
            .form-contol-remove-borderradius-right{
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;              
            }
          }
        }
      }
    }
  }
}



